# **Connecting to MySQL Server**

In [1]:
import mysql.connector
from mysql.connector import Error
import os

In [2]:
# Connect to MySQL server
try:
    connection = mysql.connector.connect(
        host='db',
        user='root',
        password='root'  # Use your MySQL root password
    )
    if connection.is_connected():
        print("Successfully connected to MySQL server")
        cursor = connection.cursor()
        cursor.execute("SHOW DATABASES;")
        databases = cursor.fetchall()
        print("Databases:", databases)
except Error as e:
    print("Error while connecting to MySQL", e)

Error while connecting to MySQL 2005 (HY000): Unknown MySQL server host 'db' (-2)

In [5]:
# Download the SQL file
sql_url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/Mauh_UvY4eK2SkcHj_b8Tw/chinook-mysql.sql'
sql_file = 'init.sql'
os.system(f"wget {sql_url} -O {sql_file}")

Error while connecting to MySQL 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (111)

--2024-07-08 18:16:53--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/Mauh_UvY4eK2SkcHj_b8Tw/chinook-mysql.sql
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 616450 (602K) [application/x-sql]
Saving to: ‘chinook-mysql.sql’

     0K .......... .......... .......... .......... ..........  8%  452K 1s
    50K .......... .......... .......... .......... .......... 16% 1020K 1s
   100K .......... .......... .......... .......... .......... 24% 1.01M 1s
   150K .......... .......... .......... .......... .......... 33% 1.75M 0s
   200K .......... .......... .......... .......... .......... 41% 1.51M 0s
   250K .......... .......... .......... .......... .......... 49% 3.75M 0s
   300K .......... .......... .......... .......... .......... 58% 3.06M 0s
   350K .......... .......... .......... .......... .......... 66% 3.77M 0s
   400K .......... .......... .......... .......... .......... 74% 6.64M 0s
   450K .......... .......... .......... .......... .......... 83% 2.40M 0s
   500K .......... .......... .......... .......... .......... 91% 5.75M 0s
   550K .......... .......... .......... .......... .......... 99% 5.66M 0s
   600K ..                                                    100% 3818G=0.4s

2024-07-08 18:16:54 (1.66 MB/s) - ‘chinook-mysql.sql’ saved [616450/616450]

NameError: name 'cursor' is not defined

In [ ]:
# Execute the SQL file
try:
    with open(sql_file, 'r') as file:
        sql_script = file.read()
    for statement in sql_script.split(';'):
        if statement.strip():
            cursor.execute(statement)
    connection.commit()
    print("Chinook database created successfully")
except Error as e:
    print("Error while executing SQL script", e)

In [ ]:
# Verify database creation
try:
    cursor.execute("SHOW DATABASES;")
    databases = cursor.fetchall()
    print("Databases:", databases)
except Error as e:
    print("Error while fetching databases", e)

In [ ]:
# Run sample queries
try:
    cursor.execute("USE Chinook;")
    cursor.execute("SELECT COUNT(*) FROM Album;")
    result = cursor.fetchone()
    print("Number of albums in the Chinook database:", result[0])
except Error as e:
    print("Error while running SQL commands", e)